/* Navbar overrides */
nav {
  background: #2f2e7a;
  color: #ffffff;
}
main {
  height: 100vh;
  display: grid;
  place-items: center;
}
.landing {
  transform: scale(5);
  color: #2f2e7a;
}
@media (max-width: 670px) {
  .landing {
    transform: scale(2);
  }
}
main .line {
  background-color: #e11f2c;
}
