/* Navbar overrides */
nav {
  background: #2f2e7a;
  color: #ffffff;
}
main {
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.herobanner {
  display: inline-block;
  margin-bottom: 10%;
}
h1 .logotitle {
  font-size: 12rem;
  color: #2f2e7a;
}
h1 .logosubtitle {
  font-size: 4rem;
  color: #2f2e7a;
}
h1 .logolinetwocontainer {
  gap: 0.2rem;
}
h1 .line-container {
  margin: 0rem 0.3rem;
  height: 3rem;
  width: 18rem;
}

h1 .line {
  height: 0.4rem;
  background-color: #e11f2c;
  border-radius: 0.1rem;
}
