:root {
  --main-font: "Aptos", sans-serif;
}
/* Navigation Styles*/
nav {
  display: grid;
  grid-template-columns: auto 1fr;
  position: fixed;
  width: 100vw;
  margin-left: -1em;
  padding: 0.45em;
}
.navbarLogo {
  grid-column: auto 1fr;
  justify-self: start;
  transform: scale(0.7);
}
.navLinkList {
  display: flex;
  gap: 1.2em;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: end;
}
.navLink a {
  text-decoration: none;
  color: #ffffff;
}
.navLink {
  margin-top: 0.4em;
}
/* Logo Styles */
.logoTitle {
  margin-bottom: -0.1em;
  font-size: 1.19em;
  letter-spacing: 0.2em;
}
.logoSubtitleContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.15em;
}
.logoSubtitle {
  margin-top: 0.1em;
  font-size: 0.55em;
}
.lineContainer {
  grid-column: 1fr;
  width: 2.3em;
}
.line {
  margin: 0.12em 0;
  background-color: #ffffff;
  height: 0.08em;
  border-radius: 0.1em;
}
/* Body Styles  */
body {
  font-family: var(--main-font);
  margin: 0 auto;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("/public/imgs/AmericanFlag.jpg") center center / cover repeat;
  color: #171717;
}
/* Footer Styles */
footer {
  padding: 1rem;
  text-align: center;
}
